@using DebugTime.Domain.Model
@using Microsoft.AspNet.Identity
@using Debugtime.Common.Model.View
@using Debugtime.Common.Static
@using System.Linq
@model Debugtime.Common.Model.View.CourseListViewModel
@{
    ViewBag.Title = "My Courses";
}
<div class="all-courses my-courses medium-12 columns">

    <header class="header-container mine medium-12 columns" style="background-color: #6c3ec9">
        <div class="heading medium-12 column">
            <h3 style="margin: 0;text-decoration: underline">My Courses</h3>
        </div>
    </header>
    <div class="courses medium-12 column">
        <div class="courses-container medium-12 column">
            @foreach (var course in Model.StickerViewModel)
            {
                <div class="small-6 medium-4 large-3 column cc">
                    <div class="course-badge">
                        <div class="header">
                            <img src="@Url.Action("GetThumbnail","Courses",new{area="Library",courseId=course.Id})" />
                        </div>

                        <a href="@Url.Action("Detail", "Courses", new { area = "Library", CourseId=course.Id })" class="middle">
                            <h4 class="title">@course.Title</h4>
                            <p class="author">@course.AuthorName</p>
                            @{
                                var sCount = course.CourseReviews.Count();
                                sCount = sCount == 0 ? 1 : sCount;
                                var stSum = course.CourseReviews.Sum(c => c.Stars);
                                var avgStars = (decimal)stSum / sCount;
                            }
                            <p class="rating">
                                @if (avgStars > 0)
                                {
                                    @Html.Partial("_RatingStars", new StarsModel { Count = sCount, Sum = stSum })

                                    <span style="font-size: 0.9em; color: #000">@avgStars</span>
                                    <span style="font-size: 0.9em; color: #8d8d8d">(@sCount)</span>
                                }
                                else
                                {
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <span style="font-size: 0.9em; color: #8d8d8d">No reviews</span>
                                }


                            </p>
                        </a>
                        <a href="@Url.Action("Detail", "Courses", new { area = "Library", CourseId=course.Id })" class="bottom">
                            Owned
                        </a>
                    </div>
                </div>

                                }
        </div>

    </div>

</div>