@model Debugtime.Common.Model.Input.UserRegisterViewModel

@{
    ViewBag.Title = "Sign-Up";
}
<div class="dtm-view-container column medium-12">
    <div class="signing-form-view-container column small-12 large-6 large-push-3 medium-10 medium-push-1">
        <div class="dtm-form-alternative column medium-12">
            <div class="form-alternative-container float-right">
                @Html.ActionLink("Already a member?", "SignIn", null, new { @class = "alternative-action" })
            </div>
        </div>
        <div class="form-header column medium-12">
            Create Your Free Account
        </div>
        <div class="form-description column medium-12">
            <p class="column medium-8 medium-push-2 text-center">
                Your Account is your home to everything we provide at Debugtime.
            </p>
        </div>
        <div class="dtm-form-container column medium-12">
            @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { id = "user-register-form", @class = "column medium-10 medium-push-1 dtm-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "Attention Required!",new{@class= "medium-12" })
                <div class="dtm-form-group column medium-6">
                    @Html.TextBoxFor(model => model.FirstName, new { @class = "dtm-text-control", placeholder = "First Name*" })
                    @Html.ValidationMessageFor(model => model.FirstName, null, new { @class = "dtm-text-danger" })
                </div>
                <div class="dtm-form-group column medium-6">
                    @Html.TextBoxFor(model => model.LastName, new { @class = "dtm-text-control", placeholder = "Last Name*" })
                    @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "dtm-text-danger" })
                </div>
                <div class="dtm-form-group column medium-12">
                    @Html.TextBoxFor(model => model.Email, new { @class = "dtm-text-control", type = "email", placeholder = "Email*" })
                    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "dtm-text-danger" })
                </div>
                <div class="dtm-form-group column medium-6">
                    @Html.TextBoxFor(model => model.Password, new { @class = "dtm-text-control", type = "password", placeholder = "Password*" })
                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "dtm-text-danger" })
                </div>
                <div class="dtm-form-group column medium-6">
                    @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "dtm-text-control", type = "password", placeholder = "Confirm Password*" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "dtm-text-danger" })
                </div>

                @Html.Hidden("ReturnUrl", ViewBag.ReturnUrl as String, null)
                <div class="dtm-form-group dtm-form-action medium-12 column">
                    <input type="submit" class="button primary float-center form-signing-button" value="Sign Up" />
                </div>
            }
        </div>
        @Html.Partial("_SocialLogins")
    </div>
</div>
