@model  Debugtime.Common.Model.View.MediaPlayerModel
@Styles.Render("~/Content/Styles/MediaPlayer")

<div id="player-container" class="dtm-player-container">
    @if (!Model.AutoPlay)
    {
        <div>
            <button id="btnStart" class="dtm-start-button">
                <i class="fa fa-play-circle"></i>
            </button>
            <p class="dtm-video-duration display-non"></p>
        </div>
    }
    <div id="mediaContainer" class="dtm-media-container">
        <video id="video" class="dtm-video-element" preload="auto" @(Model.AutoPlay?"autoplay":"")>
            <source src="@Model.Src" type="video/mp4" />
        </video>
    </div>
    <div class="dtm-bottom-controls @(Model.AutoPlay?"display-block":"display-non")">
        <div class="dtm-left-controls">
            <button id="playPause" class="btn-play-pause btn-chrome-action">
                <i class="fa @(Model.AutoPlay?"fa-pause":"fa-play")"></i>
            </button>
            <p id="currentTime" class="dtm-current-time">
                0:00
            </p>
        </div>
        <div class="dtm-middle-controls hide-for-small-only">
            <div id="dtmRail" class="progress-rail">
                <div id="dtmScrubber" class="scrubber" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">

                </div>

                <div id="dtmProgress" class="load-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>

        <div class="dtm-right-controls">
            <button id="btnExpand" class="btn-chrome-action btn-video-expand">
                <i class="fa fa-expand"></i>
            </button>
            <div class="dtm-volume-container">
                <div class="volume-rail-container">
                    <div id="volumeRail" class="dtm-volume-rail">
                        <div id="volumeScrubber" class="dtm-volume-scrubber"></div>
                    </div>
                </div>
                <button id="volume" class="btn-volume-action">
                    <i class="fa fa-volume-up"></i>
                </button>
            </div>
            <div class="dtm-total-time">
                <span id="totalTime" style="margin: 3px">0:00</span>
            </div>
        </div>
    </div>
</div>

